@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply relative overflow-hidden w-full p-6 rounded-2xl
           transition-all duration-300 ease-in-out
           border border-gray-700
           bg-gradient-to-t from-gray-900/20 to-gray-950/40
           hover:bg-gradient-to-r hover:from-gray-950 hover:to-gray-900 hover:border-gray-500 cursor-pointer;
  }
  .icon{
    @apply w-12 h-12 sm:w-14 sm:h-14 bg-white/10 rounded-md flex items-center justify-center mb-4
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #4338ca #030712; /* Thumb color and track color */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4338ca; /* Indigo thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4338ca; /* Darker indigo on hover */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #030712; /* Dark gray track */
  border-radius: 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  color: #0000;
  -webkit-text-stroke: 1px #fff;
  background:
    radial-gradient(0.71em at 50% 1em, #fff 99%, #fff 101%) calc(50% - 1em) 1em/2em 200% repeat-x text,
    radial-gradient(0.71em at 50% -0.5em, #fff 99%, #fff 101%) 50% 1.5em/2em 200% repeat-x text;
  animation:
    l10-0 0.8s linear infinite alternate,
    l10-1 4s linear infinite;
}
.loader:before {
  content: 'InterViewPrap';
}
@keyframes l10-0 {
  to {
    background-position-x: 50%, calc(50% + 1em);
  }
}
@keyframes l10-1 {
  to {
    background-position-y: -0.5em, 0;
  }
}
